#correlationMatrix {
    position: relative;
    display: block;
    margin-left: 0px;
    z-index: 2;
    pointer-events: auto;
    max-width: 100%;
}

#correlTable {
    pointer-events: auto;
    overflow: auto;
    background-color: white;
}

th {
    cursor: pointer;
}

td,
th {
    white-space: nowrap;
}

th.sorted.ascending:after {
    content: "  \2191";
}
 
th.sorted.descending:after {
    content: " \2193";
}

#correlTable,
#correlTable th,
#correlTable tr,
#correlTable td {
    border: 0.5px solid black;
}

.veryHighNeg {
    background-color: #00BFFF7F;
}

.highNeg {
    background-color: #0040FF7F;
}

.modNeg {
    background-color: #4000FF7F;
}

.lowNeg {
    background-color: #BF00FF7F;
}

.veryLowNeg {
    background-color: #FF00BF7F;
}

.veryLowPos {
    background-color: #FF00007F;
}

.lowPos {
    background-color: #FF80007F;
}

.modPos {
    background-color: #FFFF007F;
}

.highPos {
    background-color: #80FF007F;
}

.veryHighPos {
    background-color: #00FF007F;
}