#controlsLayer {
    position: relative;
    display: block;
    margin-left: 50px;
    z-index: 1;
    pointer-events: none;
}

body {
    font-family: sans-serif;
}

body * {
    font-weight: 200;
}

#latForm,
#lngForm,
#setLatLngButton,
#searchForm,
#levelsButton,
#intensitySlider,
#correlAllButton,
#correlIntersectButton,
#clearButton,
#extendedCheckbox,
#toggle-button,
#getLinkButton,
#dispersionButton,
#levelUpButton {
    pointer-events: auto;
}

.checkBoxLabel,
.colorBox,
.checkBox {
    pointer-events: auto;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.toggle-button {
    position: relative;

    width: 51px;
    height: 24px;
    margin: 0;

    vertical-align: top;

    background: #EFEFEF;
    border: 1px solid #bbc1e1;
    border-radius: 30px;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
    content: "";

    position: absolute;
    left: 1px;
    top: 0px;

    width: 22px;
    height: 22px;
    background-color: #0075FF;
    border-radius: 50%;

    transform: translateX(0);

    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
    transform: translateX(calc(100% + 3px));
    background-color: #EFEFEF;
}

.toggle-button:checked {
    background-color: #0075FF;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip 
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    top: 135%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip 
.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover 
.tooltiptext {
    visibility: visible;
    opacity: 1;
}

.checkBoxLabel{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0px;
    margin-left: 1px;
    width: 12px;
    height: 12px;
    border: 1px solid white;   
    opacity: 50%; 
}

#boxes input[type=checkbox]{
    display: none;
}

#boxes input[type=checkbox]:checked + .checkBoxLabel{
    box-sizing: border-box;
    display: inline-block;
    margin-top: 0px;
    margin-left: 1px;
    width: 12px;
    height: 12px;
    border: 2px solid black;   
    opacity: 100%; 
}

.icon {
    max-width: 70%;
    max-height: 70%;
    margin: 4px;
  }