#mapLayer {
    height: 100%;
    width: 100%;
    z-index: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.leaflet-container {
    background: rgba(0, 0, 0, 0.8) !important;
}
